<h2>Comments:</h2>

<% @article.comments.each do |comment| %>

<h4> <%= comment.commenter %> </h4>
<p> <%= comment.body %> </p>

<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Back", article_path(@article) %>
